<ion-header>
  <ion-navbar>
    <ion-title>
      Ionic Firebase
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <div *ngIf="firebase.user()">
    <p>Current User : {{ firebase.user().displayName }}</p>

    <button ion-button block (click)="logout()">Logout</button>
  </div>

  <div *ngIf="!firebase.user()">
    <button ion-button block (click)="login()">Login</button>
    <button ion-button block (click)="register()" color="secondary">Register</button>
  </div>
</ion-content>